.button {
    -fx-text-fill: white;
}

.tool-bar {
    -fx-background-color: #1e1f22;
    -fx-text-fill: white;
}

.choice-box {
    -fx-background-color: #2b2d30;
    -fx-mark-color: white;
}

.choice-box .label {
    -fx-text-fill: white;
}

.choice-box .context-menu {
    /*-fx-effect: null;*/
    -fx-background-radius: 10px;
    -fx-background-color: #2b2d30;
    -fx-border-color: #2b2d30;
    -fx-border-radius: 10px;
}

.choice-box .menu-item {
    -fx-background-color: #2b2d30;
    -fx-text-fill: white;

}


.slider .thumb {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-radius: 40%;
}

.slider .track {
    -fx-background-color: #4c4d50;
}

#heading {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 20px;
}

#levelsContainer {
    -fx-border-color: #1e1f22;
    -fx-background-color: #000000;
    -fx-alignment: top-center;
}