.button {
    -fx-text-fill: white;
    -fx-background-color: #2b2d30;
    -fx-pref-height: 25;
    -fx-min-height: 25;
    -fx-max-height: 25;
}

.text-field {
    -fx-text-fill: white;
    -fx-background-color: #1e1f22;
}

.tool-bar {
    -fx-background-color: #1e1f22;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.combo-box {
    -fx-background-color: #2b2d30;
    -fx-pref-height: 25;
    -fx-min-height: 25;
    -fx-max-height: 25;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: white;
}

.combo-box-popup .list-view {
    -fx-background-color: #2b2d30;
    -fx-control-inner-background: #2b2d30;
    -fx-background-radius: 0px 0px 5px 5px;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: white;              /* list item text */
    -fx-background-color: transparent; /* default item bg */
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #2b2d30;     /* hover color */
}


.slider .thumb {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-radius: 40%;
}

.slider .track {
    -fx-background-color: #4c4d50;
}

.label {
    -fx-pref-height: 25;
    -fx-min-height: 25;
    -fx-max-height: 25;
}

#heading {
    -fx-font-family: Consolas;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-padding: 20 0 0 0;
    -fx-pref-height: 55;
    -fx-min-height: 55;
    -fx-max-height: 55;
}

#description, #timeComplexity {
    -fx-font-style: italic;
    -fx-font-size: 16px;
    -fx-wrap-text: true;
    -fx-pref-width: 950;
    -fx-min-width: 950;
    -fx-max-width: 950;
    -fx-pref-height: 75;
    -fx-min-height: 75;
    -fx-max-height: 75;
}

#timeComplexity {
    -fx-padding: 0 0 15 0;
    -fx-font-style: normal;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-pref-width: 180;
    -fx-min-width: 180;
    -fx-max-width: 180;
    -fx-pref-height: 100;
    -fx-min-height: 100;
    -fx-max-height: 100;
}

#levelsContainer {
    -fx-border-color: #1e1f22;
    -fx-background-color: #000000;
    -fx-alignment: top-center;
}

#switchToSort {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding:5;
    -fx-alignment: center;
    -fx-min-width: 170px;
    -fx-min-height: 30px;
    -fx-max-width: 170px;
    -fx-max-height: 30px;
    -fx-font-size: 14px;
}

#switchToSort:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-padding:5;
    -fx-alignment: center;
    -fx-min-width: 170px;
    -fx-min-height: 30px;
    -fx-max-width: 170px;
    -fx-max-height: 30px;
}

#switchToGraph {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding:5;
    -fx-alignment: center;
    -fx-min-width: 170px;
    -fx-min-height: 30px;
    -fx-max-width: 170px;
    -fx-max-height: 30px;
    -fx-font-size: 14px;
}

#switchToGraph:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-padding:5;
    -fx-alignment: center;
    -fx-min-width: 170px;
    -fx-min-height: 30px;
    -fx-max-width: 170px;
    -fx-max-height: 30px;
}

#headingMain {
    -fx-max-height: 45;
    -fx-min-height: 45;
    -fx-pref-height: 45;
}