.button {
    -fx-text-fill: white;
    -fx-background-color: #2b2d30;
}

.text-field {
    -fx-text-fill: white;
    -fx-background-color: #1e1f22;
}

.tool-bar {
    -fx-background-color: #1e1f22;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.combo-box {
    -fx-background-color: #2b2d30;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: white;
}

.combo-box-popup .list-view {
    -fx-background-color: #2b2d30;
    -fx-control-inner-background: #2b2d30;
    -fx-background-radius: 0px 0px 5px 5px;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: white;              /* list item text */
    -fx-background-color: transparent; /* default item bg */
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #2b2d30;     /* hover color */
}


.slider .thumb {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-radius: 40%;
}

.slider .track {
    -fx-background-color: #4c4d50;
}

#heading {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 20px;
}

#levelsContainer {
    -fx-border-color: #1e1f22;
    -fx-background-color: #000000;
    -fx-alignment: top-center;
}

#switchToSort {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding:5;
    -fx-alignment: center;
    -fx-min-width: 180px;
    -fx-min-height: 35px;
    -fx-max-width: 180px;
    -fx-min-height: 35px;
}

#switchToSort:hover {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-padding:5;
    -fx-alignment: center;
    -fx-min-width: 180px;
    -fx-min-height: 35px;
    -fx-max-width: 180px;
    -fx-min-height: 35px;
}

#switchToGraph {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding:5;
    -fx-alignment: center;
    -fx-min-width: 180px;
    -fx-min-height: 35px;
    -fx-max-width: 180px;
    -fx-min-height: 35px;
}

#switchToGraph:hover {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-padding:5;
    -fx-alignment: center;
    -fx-min-width: 180px;
    -fx-min-height: 35px;
    -fx-max-width: 180px;
    -fx-min-height: 35px;
}